* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

p{
    font-size: 1.1em;
}

h1 {
    color: white;
    font-size: 3.8em;
}

/* ColorClasses */ 
.navActive {
    color: #f9636b;
}

.navWhite {
    color: white;
}

.container  {
    max-width: 1500px;
    margin: auto;
}

/* HEADER */

/* Logo e Nav */

header {
    background: linear-gradient(#0b1953 ,#01012f );
}

header .container {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

header nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

header nav .logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.1em;
    cursor: pointer;
}

header nav .logo img {
    height: 60px;
    margin-right:10px ;
}

header nav .logo .logo-text {
    display: flex;
    flex-direction: column;
}

header nav .logo .logo-text .logo-text-2 {
    font-weight: bold;
}

header nav .main-menu .navbar {
    display: flex;
}

header nav .main-menu .navbar ul {
    display: flex;
}

header nav .main-menu .navbar ul li {
    margin-right: 30px;
}

header nav .main-menu .navbar ul li a {
    font-size: 1.1em;
}

header nav .main-menu .navbar li:last-child {
    margin-right: 0;
    margin-left: 30px;
}

header nav .main-menu .navbar li:last-child a {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
    border: none;
    padding: 11px 25px;
    border-radius: 50px;
    cursor: pointer;
}

header nav .main-menu .navbar li:last-child a:hover {
    background: linear-gradient(90deg, #b7256e,#f8626b);
}

/* H1 Title */

header .title {
    width: 35%;
    padding-bottom: 270px;
}

header .title span,
#grow .grow-text h2 span {
    font-weight: normal;
}

header .title p,
#grow .grow-text p {
    color: #03A7D3E6;
    padding-right: 100px;
    line-height: 1.5;
    margin: 40px 0 70px;
}

header .title a,
#grow .grow-text a {
    background: linear-gradient(90deg, #b7256e,#f8626b);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

header .title a:last-child,
#grow .grow-text a:last-child {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
    margin-left: 15px;
    padding: 15px 42px;
}

header .title a:hover,
#grow .grow-text a:hover {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
}

header .title a:last-child:hover,
#grow .grow-text a:last-child:hover {
    background: linear-gradient(90deg, #b7256e,#f8626b);
}

/* MAIN */

/* Section 1 - What */
#what {
    padding: 50px 0 100px;
}

#what .services {
    text-align: center;
    margin-bottom: 70px;
}

#what .services .little-text {
    color: #f9636b;
}

#what .services h2 {
    font-size: 3em;
    margin: 18px;
}

#what .services span {
    font-weight: normal;
}

#what .service-list {
    display: flex;
    justify-content: space-between;
}

#what .service-list .card {
    flex-basis: 23%;
}

#what .service-list .card .item-card {
    text-align: center;
}

#what .service-list .card .item-card .card-info {
    padding: 50px;
    padding-bottom: 70px;
    padding-top: 120px;
}

#what .service-list .card .item-card .card-info h3 {
    margin-bottom: 30px;
    font-size: 1.6em;
}

#what .service-list .card .item-card .card-info p {
    color: #818a91;
    line-height: 1.5;
}

#what .service-list .card .item-card img {
    max-width: 50%;
    padding: 20px;
    transform: translateY(50%);
}

#what .service-list .card:hover img  {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0 15px 3px #0000001c;
    
}

#what .service-list .card .item-card a i {
    color: white;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #c12f6e, #ee5a6c);
    opacity: 0;
    transform: translateY(-50%);
}

#what .service-list .card:hover .item-card .card-info  {
    color: white;
    background-color: white;
    background: linear-gradient(#162e6b ,#030331 );
    border-radius: 20px;
}

#what .service-list .card:hover .item-card .card-info p {
    color: white;
}

#what .service-list .card:hover .item-card a i {
   opacity: 1;
}

#what .services-button{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#what .services-button a {
    background: linear-gradient(135deg, #b7256e,#f8626b);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

#what .services-button a:hover {
    background: linear-gradient(135deg, #04a3d0,#1e3e83);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

/* Section 2 - Grow */

#grow {
    background: linear-gradient(#0b1953 ,#01012f );
    padding: 50px 0;
}

#grow .container{
    display: flex;
}

#grow .image-grow {
    width: 50%;
    background-image: url('../img/nemoodar.png');
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 60%;
}

#grow .image-grow .bg-image-grow {
    background-image: url('../img/men-data.png');
    background-repeat: no-repeat;
    background-position: 17% 53%;
    background-size: 60%;
    height: 100%;
}

#grow .grow-text {
    width: 50%;
    padding: 140px 10px 140px 100px;

}

#grow .grow-text span {
    color: white;
}

#grow .grow-text h2 {
    margin-top: 40px;
    color: white;
    font-size: 3.5em;
}


/* FOOTER */
footer {
    /* debug */
    height: 300px;
    text-align: center;
    line-height: 300px;
    width: 100%;
    background-color: rgb(30, 104, 165);
}