* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

p{
    font-size: 1.1em;
}

h1 {
    color: white;
    font-size: 3.8em;
}

/* ColorClasses */ 
.navActive {
    color: #f9636b;
}

.navWhite {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.bg_white {
    background-color: white;
}

.container  {
    max-width: 1600px;
    margin: auto;
}

/* HEADER */

/* Logo e Nav */

header {
    background: linear-gradient(#0b1953 ,#01012f );
}

header .container {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

header nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

header nav .logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.1em;
    cursor: pointer;
}

header nav .logo img {
    height: 53px;
    margin-right:10px ;
}

header nav .logo .logo-text {
    display: flex;
    flex-direction: column;
}

header nav .logo .logo-text .logo-text-2 {
    font-weight: bold;
}

header nav .main-menu .navbar {
    display: flex;
}

header nav .main-menu .navbar ul {
    display: flex;
}

header nav .main-menu .navbar ul li {
    margin-right: 30px;
}

header nav .main-menu .navbar ul li a {
    font-size: 1.1em;
}

header nav .main-menu .navbar ul li a:hover {
    color: #f9636b;
}

header nav .main-menu .navbar li:last-child {
    margin-right: 0;
    margin-left: 30px;
}

header nav .main-menu .navbar li:last-child a {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
    border: none;
    padding: 11px 25px;
    border-radius: 50px;
    cursor: pointer;
}

header nav .main-menu .navbar li:last-child a:hover {
    background: linear-gradient(90deg, #b7256e,#f8626b);
    color: white;
}

/* H1 Title */

header .title {
    width: 35%;
    padding-bottom: 300px;
}

header .title span,
#grow .grow-text h2 span {
    font-weight: normal;
}

header .title p,
#grow .grow-text p {
    color: #03A7D3E6;
    padding-right: 140px;
    line-height: 1.5;
    margin: 40px 0 70px;
}

header .title a,
#grow .grow-text a {
    background: linear-gradient(90deg, #b7256e,#f8626b);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

header .title a:last-child,
#grow .grow-text a:last-child {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
    margin-left: 15px;
    padding: 15px 42px;
}

header .title a:hover,
#grow .grow-text a:hover {
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
}

header .title a:last-child:hover,
#grow .grow-text a:last-child:hover {
    background: linear-gradient(90deg, #b7256e,#f8626b);
}

/* MAIN */

/* Section 1 - What */
#what,
#price {
    padding: 40px 0 100px;
}

#what .services{
    margin-bottom: 250px;
    text-align: center;
}

#what .services .little-text,
#price .price-text .little-text,
#post .blog .little-text,
#testimonial .testimonial-text .little-text {
    color: #f9636b;
}

#what .services h2,
#price .price-text h2,
#post .blog h2,
#testimonial .testimonial-text h2 {
    font-size: 3em;
    margin: 20px 0;
}

#what .services p,
#post .blog p, 
#testimonial .testimonial-text p {
    color: #444444;
}

#what .services span,
#price .price-text span,
#post .blog span, 
#testimonial .testimonial-text span {
    font-weight: normal;
}

#what .service-list{
    display: flex;
    justify-content: space-between;
}

#what .service-list .card {
    flex-basis: 25%;
}

#what .service-list .card .item-card,
#testimonial .testimonial-list .card .item-card {
    text-align: center;
}

#what .service-list .card .item-card .card-info {
    padding: 75px;
    padding-bottom: 70px;
    padding-top: 130px;
    position: relative;
}

#what .service-list .card .item-card .card-info h3 {
    margin-bottom: 30px;
    font-size: 1.6em;
}

#what .service-list .card .item-card .card-info p {
    color: #444444;
    line-height: 1.5;
}

#what .service-list .card .item-card img {
    height: 200px;
    min-width: 60%;
    padding: 20px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#what .service-list .card:hover img  {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 70px #0000001a;
    
}

#what .service-list .card .item-card a i {
    color: white;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #c12f6e, #ee5a6c);
    opacity: 0;
    transform: translateY(-50%);
}

#what .service-list .card:hover .item-card .card-info  {
    color: white;
    background-color: white;
    background: linear-gradient(#162e6b ,#030331 );
    border-radius: 20px;
}

#what .service-list .card:hover .item-card .card-info p {
    color: white;
}

#what .service-list .card:hover .item-card a i {
   opacity: 1;
}

#what .services-button{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#what .services-button a {
    background: linear-gradient(135deg, #b7256e,#f8626b);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

#what .services-button a:hover {
    background: linear-gradient(135deg, #04a3d0,#1e3e83);
    color: white;
    padding: 15px 52px;
    border-radius: 50px;
}

/* Section 2 - Grow */

#grow {
    background: linear-gradient(#0b1953 ,#01012f );
    padding: 50px 0;
}

#grow .container{
    display: flex;
}

#grow .image-grow {
    width: 50%;
    background-image: url('../img/nemoodar.png');
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 60%;
}

#grow .image-grow .bg-image-grow {
    background-image: url('../img/men-data.png');
    background-repeat: no-repeat;
    background-position: 17% 53%;
    background-size: 60%;
    height: 100%;
}

#grow .grow-text {
    width: 50%;
    padding: 140px 10px 140px 100px;

}

#grow .grow-text span {
    color: white;
}

#grow .grow-text h2 {
    margin-top: 40px;
    color: white;
    font-size: 3.5em;
}

/* Section 4 - price */
#price {
    background: linear-gradient(80deg,#0b1953 ,#01012f );
    padding-bottom: 330px;
    padding-top: 50px;
}

#price .price-text,
#testimonial .testimonial-text {
    text-align: center;
    margin-bottom: 50px;
}

#price .price-text h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#price .price-text p {
    color: #aaaaaa;
    line-height: 1.5;
    padding: 0 460px;
}

#post .card-price {
    display: flex;
    justify-content: space-between;
}

#post .card-price .item-card-price {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 50px 0;
    position: relative;
    box-shadow: 0 0 70px #0000001a;
}

#post .card-price .item-card-price .type{
    text-align: center;
}

#post .card-price .item-card-price .type h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
}

#post .card-price .item-card-price .type div.uppercase {
    font-size: 0.8em;
}

#post .card-price .item-card-price .real-price {
    margin: 40px 0;
}

#post .card-price .item-card-price .real-price h2 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 15px;
}

#post .card-price .item-card-price .real-price small {
    text-align: center; 
    font-size: 1.1em;
}

#post .card-price .item-card-price .real-price div {
    text-align: center; 
    font-size: 0.8em;
}

#post .card-price .item-card-price .feature {
    text-align: center;
}

#post .card-price .item-card-price .feature h4{
    margin: 15px 0 ;
}

#post .card-price .item-card-price .feature h4 span{
    font-weight: normal;
    color: #3d3d3d;
}

#post .card-price .item-card-price .price-absolute {
    font-size: 310px;
    position: absolute;
    top: -11%;
    right: -1%;
    font-weight: bold;
    color: #eaeaea;
    z-index: -1;
}

#post .card-price .item-card-price.center_card {
    color: white;
    background: linear-gradient(130deg,#b8276e ,#f45f6c);
}

#post .card-price .item-card-price.center_card .price-absolute{
    color: #ce4e7f;
}

#post .card-price .item-card-price.center_card .feature h4 span {
    color: #e0e0e0;
}

#post .card-price .item-card-price a {
    margin-top: 40px;
    padding: 14px 30px;
    background: linear-gradient(#b7266f, #f7626c);
    border-radius: 50px;
    color: white;
    font-weight: bolder;
}

#post .card-price .item-card-price a:hover {
    background: linear-gradient(#03a3d0, #1e3f83);
}

#post .card-price .item-card-price i {
    margin-left: 35px;
}

#post .card-price .item-card-price.center_card  a{
    background: linear-gradient(#ffffff, #ffffff);
    color: #f9646c;
}

/* Section 5 - post */
#post {
    margin-bottom: 140px;
}

#post .blog {
    margin-top: -160px;
    text-align: center;
    margin-bottom: 120px;
}

#post .blog p,
#testimonial .testimonial-text p {
    padding: 0 460px;
}

#post .blog-article {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#post .blog-article .first-article {
    width: 48%;
    border-radius: 20px;
    background-image: url('../img/headway-537308-unsplash-1380x703.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.3;
    color: white;
    position: relative;
}

#post .blog-article .first-article .layover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 20px;
}

#post .blog-article .first-article .first-article-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    padding: 0 50px;
}

#post .blog-article .first-article .first-article-box .text-first-article {
    width: 65%;
}

#post .blog-article .first-article .first-article-box .button-first-article {
    display: flex;
    align-items: flex-end;
}

#post .blog-article .first-article .first-article-box .text-first-article h3 {
    margin: 20px 0;
}

#post .blog-article .first-article img {
    width: 100%;
}

#post .blog-article .second-article,
#post .blog-article .third-article {
    width: 22%;
    border-radius: 20px;
    background: linear-gradient(130deg,#020230 ,#17316f);
    padding: 60px 50px 115px;
    line-height: 1.3;
    color: white;
}

#post .blog-article h3 {
    margin: 30px 0;
    font-size: 1.3em;
}

#post .blog-article p {
    font-size: 1em;
}

#post .blog-article a {
    background-color: white;
    padding: 15px 35px;
    border-radius: 50px;
    color: black;
}

#post .blog-article .second-article a,
#post .blog-article .third-article a {
    position: absolute;
    bottom: 30px;
}

/* Section 6 - testimonial */
#testimonial .testimonial-text {
    margin-bottom: 180px;
}

#testimonial .testimonial-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

#testimonial .testimonial-text h2 {
    margin-bottom: 45px;
}

#testimonial .testimonial-list .card {
    flex-basis: 31%;
}

#testimonial .testimonial-list .card .item-card .card-info {
    padding: 100px 30px 40px;
    border-radius: 50px;
    position: relative;
}

#testimonial .testimonial-list .card .item-card .card-info .star {
    color: #d13e6e;
}

#testimonial .testimonial-list .card .item-card .card-info p {
    color: #444444;
    line-height: 1.5;
    margin: 40px 0;
}

#testimonial .testimonial-list .card .item-card .card-info .avatar-img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 6px solid#b6246e;
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#testimonial .testimonial-list .card .item-card .card-info .avatar-img img {
    width: 100%;
}

#testimonial .testimonial-list .card .item-card .card-info h4:last-child {
    font-weight: normal;
    margin-top: 15px;
    color: #444444;
}

#testimonial .testimonial-list .card .item-card .card-info:hover {
    box-shadow: 0 0 70px #0000001f;
}

#testimonial .brand {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

#testimonial .brand div{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOOTER */
footer {
    background: linear-gradient(#0c1a54 ,#020331);
}

footer .newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
    background: linear-gradient(90deg,#b8276e ,#f45f6c);
    border-radius: 30px;
    transform: translateY(-50%);
}

footer .newsletter .newsletter-text h2{
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}

footer .newsletter .newsletter-text p{
    color: #faecdc;
    font-size: 1em;
}

footer .newsletter .input-mail {
    position: relative;
}

footer .newsletter .input-mail input {
    text-align: left;
    border: none;
    outline: none;
    padding: 22px 350px 22px 50px;
    border-radius: 50px;
    color: #aaaaaa;
    font-size: 1.1em;
}

footer .newsletter .input-mail a{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: white;
    background: linear-gradient(90deg, #04a3d0,#1e3e83);
    padding: 18px 40px;
    border-radius: 50px;
}

footer .newsletter .input-mail a:hover{
    background: linear-gradient(90deg, #b7256e,#f8626b);
}

/* Nav footer */
footer a {
    color: #7a7a94;
}

footer a:hover{
    color: #f9636b;
}

footer .footer-nav {
    display: flex;
    padding-bottom: 60px;
    margin-top: -50px;
}

footer .footer-nav .box-footer-nav {
    flex-basis: 25%;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

footer .footer-nav .box-footer-nav:first-child {
    padding-left: 0;
    padding-right: 60px;
}

footer .footer-nav .box-footer-nav:last-child {
    padding-left: 30px;
    padding-right: 0;
}

footer .footer-nav .box-footer-nav:first-child p {
    margin-top: 40px;
    line-height: 1.5;
    color: #7a7a94;
}

footer .footer-nav .box-footer-nav h3 {
    color: white;
    margin-bottom: 20px;
}

footer .footer-nav .box-footer-nav div {
    padding: 7px 0;
    color: #7a7a94;
}

footer .footer-nav .box-footer-nav span {
    color: white;
}

footer .copy-social {
    border-top: 1px solid rgba(255,255,255,.1);
}

footer .copy-social .credits {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

footer .copy-social .credits .copyright {
    color: #7a7a94;
}

footer .copy-social .credits .social i{
    margin-left: 45px;
    color: white;
    font-size: 16px;
}

footer .copy-social .credits .social i:hover{
    color: #f9636b;
}