<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet"> 
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- FonrAwesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Corporate Landing</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app">

        <!-- Header -->
        <header>

            <div class="container">

                <!-- Nav -->
                <nav v-for="head in header">

                    <!-- Logo -->
                    <div class="logo">

                        <img :src="head.logo" alt="Logo">

                    </div>

                    <!-- Nav Menu -->
                    <div class="main-menu">

                        <div class="navbar">
                            
                            <ul>
                                <li v-for="(word,index) in head.navMenu">
                                    <a @click="activeMenu(index)" :href="word.link" :class="word.active ? 'navActive' : 'navWhite'">{{word.name}}</a>
                                </li>
                                <li>
                                    <a class="navWhite">{{head.sign}}</a>
                                </li>
                            </ul>


                        </div>


                    </div>

                </nav>

                <!-- jumbo -->
                <div class="title">

                    <h1>
                        Business Planning <span>Digital Technology</span> Modern Solution !</h1>

                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    <a href="#">Try It Now</a>

                    <a href="#">Explore More</a>

                </div>

            </div>

        </header>
        <!-- /Header -->

        <!-- Main -->
        <main>

            <section id="what">

                <div class="container">

                    <!-- Inizio sezione Services -->
                    <div class="services">

                        <span class="little-text">Our Services</span>

                        <h2>
                            What
                            <span>We Do</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the</p>

                    </div>
                    
                    <!-- Scaletta dei vari servizi -->
                    <div class="service-list">

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">
                                    <img src="img/Group-247.png" alt="Data Analysis">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">
                                    <img src="img/Group-567.png" alt="Data Analysis">
                                    <h3>SEO Optimization</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">
                                
                                <div class="card-info">
                                    <img src="img/Group-538.png" alt="Data Analysis">
                                    <h3>Security Data</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">
                                
                                <div class="card-info">
                                    <img src="img/Group-566.png" alt="Data Analysis">
                                    <h3>Branding Strategy</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- Button Servizi -->
                    <div class="services-button">
                        <a href="#">
                            View All Services
                        </a>

                    </div>
    
                </div>

            </section>

            <!-- Section 2 -->
            <section id="grow">

                <div class="container">

                    <!-- Immagine di bg -->
                    <div class="image-grow">
                        <div class="bg-image-grow"></div>
                    </div>

                    <!-- Corpo Principale Sezione -->
                    <div class="grow-text">
                    
                        <span>Start Your Project</span>

                        <h2>Grow Your Business <span>With Our Strategy</span></h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface of the impenetrabòe foliage of my trees, and but a few stray gleams steal into the inner sanctuary .</p>

                        <a href="#">Try It Now</a>

                        <a href="#">Explore More</a>

                    </div>


                </div>

            </section>

            <!-- Section 3 - Slider -->
            <section id="work">

                <div class="container">

                    <!-- Inizio sezione portfolio -->
                    <div class="work-text">

                        <span class="little-text">Portfolio</span>
    
                        <h2>
                            latest
                            <span>work</span>
                        </h2>

                        <!-- Buttons per cambiare slide -->
                        <div class="slider-buttons">
                            <i @click="sliderPrev" class="fas fa-chevron-left"></i>
                            <i @click="sliderNext" class="fas fa-chevron-right"></i>
                        </div>

                    </div>

                    <!-- Slider -->
                    <div class="slider">

                        <div v-for="item in slider" id="slider" :class="item.class + item.counter">
                            <div class="slider-image">
                                <img :src="item.img" alt="Preview Portfolio">
                            </div>
                            <div class="slider-text">
                                <h3>{{item.title}}</h3>
                                <span>{{item.subtitle}}</span>
                            </div>
                        </div>


                    </div>

                    <!-- Div con altezza per mantenere le proporzioni della sezione dato tutti gli elementi absolute -->
                    <div class="height"></div>


                </div>

            </section>

            <!-- Section 4 -->
            <section id="price">

                <div class="container">

                    <!-- Inizio sezione prezzo -->
                    <div class="price-text">

                        <span class="little-text">Price List</span>

                        <h2>
                            Our
                            <span>Pricing</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                </div>

            </section>

            <!-- Section 5 -->
            <section id="post">
                
                <div class="container">

                    <!-- Carte prezzo - In questa sezione per Position -->
                    <div class="card-price">

                        <div class="item-card-price bg_white">

                            <div class="price-absolute">40</div>

                            <div class="type">
                                <h2>Designing</h2>
                                <div class="uppercase">Process</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>40</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>

                        </div>


                        <div class="item-card-price center_card">

                            <div class="price-absolute">60</div>

                            <div class="type">
                                <h2>Developing</h2>
                                <div class="uppercase">Product</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>60</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>


                        </div>

                        <div class="item-card-price bg_white">

                            <div class="price-absolute">80</div>

                            <div class="type">
                                <h2>Supporting</h2>
                                <div class="uppercase">Clients</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>80</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>


                        </div>
                    </div>

                    <!-- Inizio sezione blog -->
                    <div class="blog">

                        <span class="little-text">Blog</span>

                        <h2>
                            Latest
                            <span>Posts</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                    <!-- Articoli in vista tra i post -->
                    <div class="blog-article">

                        <div class="first-article">

                            <div class="layover"></div>

                            <div class="first-article-box">
                                
                                <div class="text-first-article">
                                    <small>April 21, 2019 - by Paul</small>
                                    <h3>Amazon gets CCI nod to acquire 49% stake in</h3>
                                    <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                                </div>

                                <div class="button-first-article">
                                    <a href="#">Read More</a>
                                </div>

                            </div>

                        </div>

                        <div class="second-article">
                            <small>April 21, 2019 - by Paul</small>
                            <h3>Clearing Corporations get SEBI nod to invest in overnight funds</h3>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                            <a href="#">Read More</a>
                        </div>

                        <div class="third-article">
                            <small>April 21, 2019 - by Paul</small>
                            <h3>Shabnam Dhillion, wife of RSSB chief Gurinder Dhillon, passes away in London </h3>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                            <a href="#">Read More</a>
                        </div>

                    </div>


                </div>

            </section>

            <!-- Section 6 -->
            <section id="testimonial">

                <div class="container">

                    <!-- Inizio sezione testimonial -->
                    <div class="testimonial-text">

                        <span class="little-text">Testimonial</span>

                        <h2>
                            What
                            <span>People Say</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                    <!-- Lista testimonial voto -->
                    <div class="testimonial-list">

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">

                                    <div class="avatar-img">
                                        <img src="img/szabo-viktor-1266895-unsplash-1024x1024.png" alt="Avatar">
                                    </div>

                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>

                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.</p>
                                    <h4>Michkel Anegl</h4>
                                    <h4>Marketing Management</h4>

                                </div>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">

                                    <div class="avatar-img">
                                        <img src="img/philipe-cavalcante-539505-unsplash-1024x1024.png" alt="Avatar">
                                    </div>

                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>

                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.</p>
                                    <h4>Michkel Anegl</h4>
                                    <h4>Marketing Management</h4>

                                </div>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">

                                    <div class="avatar-img">
                                        <img src="img/fabio-spinelli-695744-unsplash-1024x1024.png" alt="Avatar">
                                    </div>

                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>

                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper impenetrable foliage of my trees, and but a thousand.</p>
                                    <h4>Michkel Anegl</h4>
                                    <h4>Marketing Management</h4>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Brand logo -->
                    <div class="brand">

                        <div>
                            <img src="img/client-1-1.png" alt="Logo Golden">
                        </div>

                        <div>
                            <img src="img/clienty-2.png" alt=" Logo Sweety">
                        </div>

                        <div>
                            <img src="img/clienty-4.png" alt="Logo Fastlane">
                        </div>

                        <div>
                            <img src="img/client-5.png" alt="Logo Mighty Furnitures">
                        </div>

                        <div>
                            <img src="img/clienty-3.png" alt="Logo Jack Roller">
                        </div>
                    </div>

                </div>

            </section>

        </main>
        <!-- /Main -->


        <!-- Footer -->
        <footer id="footer">

            <div class="container">

                <!-- NewsLetterBox -->
                <div class="newsletter">

                    <div class="newsletter-text">
                        <h2>We offer Awesome Sercices</h2>
                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>
                    </div>
    
                    <div class="input-mail">
                        <input type="text" placeholder="Enter Your Email Address"> 
                        <a href="#"> Subscribe</a>
                    </div>
    
                </div>

                <!-- Footer Nav -->
                <div v-for="foot in footer" class="footer-nav">

                    <div class="box-footer-nav">
                        <img :src="foot.logo" alt="logo">
                        <p>{{foot.infoText}}</p>
                    </div>

                    <div class="box-footer-nav">
                        <h3>Quick Links</h3>
                        <div v-for="item in foot.quickLinks">
                            <a :href="item.url">
                                {{item.title}}
                            </a>
                        </div>
                    </div>

                    <div class="box-footer-nav">
                        <h3>Resources</h3>
                        <div v-for="item in foot.resources">
                            <a :href="item.url">
                                {{item.title}}
                            </a>
                        </div>
                    </div>

                    <div class="box-footer-nav">
                        <h3>Contact Us</h3>
                        <div v-for="item in foot.contact">
                            <p>
                                <span>{{item.title}}</span>
                                {{item.info}}
                            </p>

                        </div>
                    </div>

                    

                </div>

            </div>

            <!-- Credits -->
            <div class="copy-social">

                <div class="container">

                    <div class="credits">

                        <div class="copyright">
                            <small>&copy; 2021 Alessandro Gennaccari. All Rights Reserved.</small>
                        </div>
    
                        <div class="social">

                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>

                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>

                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </footer>
        <!-- /Footer -->


        <!-- FIXED SECTION -->
        <!-- Support button -->
        <div class="support">
            <i class="far fa-comment"></i>
        </div>

        <div class="up">
            <a href="#app">
                <i class="fas fa-caret-up"></i>
            </a>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>