<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet"> 
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- FonrAwesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Corporate Landing</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app">

        <!-- Header -->
        <header>

            <div class="container">

                <!-- Nav -->
                <nav v-for="head in header">

                    <!-- Logo -->
                    <div class="logo">

                        <img :src="head.logo" alt="Logo">

                    </div>

                    <!-- Nav Menu -->
                    <div class="main-menu">

                        <div class="navbar">
                            
                            <ul>
                                <li v-for="(word,index) in head.navMenu">
                                    <a @click="activeMenu(index)" :href="word.link" :class="word.active ? 'navActive' : 'navWhite'">{{word.name}}</a>
                                </li>
                                <li>
                                    <a class="navWhite">{{head.sign}}</a>
                                </li>
                            </ul>


                        </div>


                    </div>

                </nav>

                <!-- jumbo -->
                <div class="title">

                    <h1>
                        Business Planning <span>Digital Technology</span> Modern Solution !</h1>

                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    <a href="#">Try It Now</a>

                    <a href="#">Explore More</a>

                </div>

            </div>

        </header>
        <!-- /Header -->

        <!-- Main -->
        <main>

            <section id="what">

                <div class="container">

                    <div class="services">

                        <span class="little-text">Our Services</span>

                        <h2>
                            What
                            <span>We Do</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the</p>

                    </div>
                    
                    <div class="service-list">

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">
                                    <img src="img/Group-247.png" alt="Data Analysis">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">

                                <div class="card-info">
                                    <img src="img/Group-567.png" alt="Data Analysis">
                                    <h3>SEO Optimization</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">
                                
                                <div class="card-info">
                                    <img src="img/Group-538.png" alt="Data Analysis">
                                    <h3>Security Data</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                        <div class="card">

                            <div class="item-card">
                                
                                <div class="card-info">
                                    <img src="img/Group-566.png" alt="Data Analysis">
                                    <h3>Branding Strategy</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="services-button">
                        <a href="#">
                            View All Services
                        </a>

                    </div>
    
                </div>

            </section>

            <section id="grow">

                <div class="container">

                    <div class="image-grow">
                        <div class="bg-image-grow"></div>
                    </div>

                    <div class="grow-text">
                    
                        <span>Start Your Project</span>

                        <h2>Grow Your Business <span>With Our Strategy</span></h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface of the impenetrabòe foliage of my trees, and but a few stray gleams steal into the inner sanctuary .</p>

                        <a href="#">Try It Now</a>

                        <a href="#">Explore More</a>

                    </div>


                </div>

            </section>

            <!-- Se riesco la faccio per ultima -->
            <section id="work">
            </section>

            <section id="price">

                <div class="container">

                    <div class="price-text">

                        <span class="little-text">Price List</span>

                        <h2>
                            Our
                            <span>Pricing</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                </div>

            </section>

            <section id="post">
                
                <div class="container">

                    <div class="card-price">

                        <div class="item-card-price bg_white">

                            <div class="price-absolute">40</div>

                            <div class="type">
                                <h2>Designing</h2>
                                <div class="uppercase">Process</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>40</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>

                        </div>


                        <div class="item-card-price center_card">

                            <div class="price-absolute">60</div>

                            <div class="type">
                                <h2>Developing</h2>
                                <div class="uppercase">Product</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>60</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>


                        </div>

                        <div class="item-card-price bg_white">

                            <div class="price-absolute">80</div>

                            <div class="type">
                                <h2>Supporting</h2>
                                <div class="uppercase">Clients</div>
                            </div>

                            <div class="real-price">
                                <small>$</small>
                                <h2>80</h2>
                                <div>Per Month</div>
                            </div>

                            <div class="feature">
                                <h4>Creative<span> Design Enabled</span></h4>
                                <h4>Vibrant<span> Color Usage</span></h4>
                                <h4>Eye<span> Catching Design</span></h4>
                                <h4>Extreme<span> Typography</span></h4>
                                <h4>Exceptional<span> Design</span></h4>
                            </div>

                            <a href="#">
                                <span>Order Now</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>


                        </div>
                    </div>

                    <div class="blog">

                        <span class="little-text">Blog</span>

                        <h2>
                            Latest
                            <span>Posts</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                    <div class="blog-article">

                        <div class="first-article">

                            <div class="layover"></div>

                            <div class="first-article-box">
                                
                                <div class="text-first-article">
                                    <small>April 21, 2019 - by Paul</small>
                                    <h3>Amazon gets CCI nod to acquire 49% stake in</h3>
                                    <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                                </div>

                                <div class="button-first-article">
                                    <a href="#">Read More</a>
                                </div>

                            </div>

                        </div>

                        <div class="second-article">
                            <small>April 21, 2019 - by Paul</small>
                            <h3>Clearing Corporations get SEBI nod to invest in overnight funds</h3>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                            <a href="#">Read More</a>
                        </div>

                        <div class="third-article">
                            <small>April 21, 2019 - by Paul</small>
                            <h3>Shabnam Dhillion, wife of RSSB chief Gurinder Dhillon, passes away in London </h3>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun s ...</p>
                            <a href="#">Read More</a>
                        </div>

                    </div>


                </div>

            </section>

            <section id="testimonial">

                <div class="container">

                    <div class="testimonial-text">

                        <span class="little-text">Testimonial</span>

                        <h2>
                            What
                            <span>People Say</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    </div>

                </div>

            </section>

        </main>
        <!-- /Main -->


        <!-- Footer -->
        <footer>
            Hi, I'm FOOTER  :)
        </footer>




    </div>

    <script src="js/script.js"></script>
</body>
</html>