<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet"> 
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- FonrAwesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>P</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app">

        <!-- Header -->
        <header>

            <div class="container">

                <!-- Nav -->
                <nav v-for="head in header">

                    <!-- Logo -->
                    <div class="logo">

                        <img :src="head.logo" alt="Logo">

                        <div class="logo-text">

                            <span class="logo-text-1">{{head.logoName1}}</span>
                            <span class="logo-text-2">{{head.logoName2}}</span>

                        </div>

                    </div>

                    <!-- Nav Menu -->
                    <div class="main-menu">

                        <div class="navbar">
                            
                            <ul>
                                <li v-for="(word,index) in head.navMenu">
                                    <a @click="activeMenu(index)" :href="word.link" :class="word.active ? 'navActive' : 'navWhite'">{{word.name}}</a>
                                </li>
                                <li>
                                    <a class="navWhite">{{head.sign}}</a>
                                </li>
                            </ul>


                        </div>


                    </div>

                </nav>

                <!-- jumbo -->
                <div class="title">

                    <h1>
                        Business Planning <span>Digital Technology</span> Modern Solution !</h1>

                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface .</p>

                    <a href="#">Try It Now</a>

                    <a href="#">Explore More</a>

                </div>

            </div>

        </header>
        <!-- /Header -->

        <!-- Main -->
        <main>

            <section id="what">

                <div class="container">

                    <div class="services">

                        <span class="little-text">Our Services</span>

                        <h2>
                            What
                            <span>We Do</span>
                        </h2>

                        <p>When, while the lovely valley teems with vapour around meand the</p>

                    </div>
                    
                    <div class="service-list">

                        <div class="card">

                            <div class="item-card">

                                <img src="img/Group-247.png" alt="Data Analysis">

                                <div class="card-info">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="card">

                            <div class="item-card">

                                <img src="img/Group-247.png" alt="Data Analysis">

                                <div class="card-info">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="card">

                            <div class="item-card">

                                <img src="img/Group-247.png" alt="Data Analysis">

                                <div class="card-info">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>
                        <div class="card">

                            <div class="item-card">

                                <img src="img/Group-247.png" alt="Data Analysis">

                                <div class="card-info">
                                    <h3>Data Analysis</h3>
                                    <p>When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper</p>
                                </div>

                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="services-button">
                        <a href="#">
                            View All Services
                        </a>

                    </div>
    
                </div>

            </section>

            <section>
            </section>

        </main>
        <!-- /Main -->





    </div>

    <script src="js/script.js"></script>
</body>
</html>